{% extends 'base.html.twig' %}

{% block title %}
    Modifier la personne
{% endblock %}

{% block body %}
    <h1 class="title">Modifier la personne</h1>

    {{ include('personne/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_personne_index') }}" class="button">Visualiser</a>

    {{ include('personne/_delete_form.html.twig') }}
{% endblock %}
